<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score Table</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="root" class="d-flex flex-column justify-content-center align-items-center container">
        <!--^ ADD PLAYER -->
        <div class="input-group my-5 w-50">
            <button class="button-hover text-white bg-secondary border-0 px-2" @click="toggleOptions"
                v-if="!showOptions && players.length"><i class="fas fa-ellipsis-v"></i></button>
            <input type="text" name="add-player" class="form-control" placeholder="Add player.."
                @keyup.enter="addNewPlayer" v-model="newPlayer" aria-label="Recipient's username"
                aria-describedby="button-addon2">
            <button @click="addNewPlayer" class="btn btn-outline-success border-0 bg-success text-white p-1"
                type="button" id="button-addon2"><i class="fas fa-plus"></i></button>
        </div>

        <!--^ OPTIONS -->
        <div id="options" class="mb-5 row d-flex align-items-center"
            v-if="showOptions && !players.length ? showOptions = false : showOptions">
            <button class="button-hover text-white bg-secondary border-0 px-2 py-1 mr-2" @click="toggleOptions"><i
                    class="fas fa-ellipsis-v"></i></button>
            <button class="btn btn-outline-success border-0 bg-success text-white mr-2 my-2 p-1" type="button"
                @click="modifyAllPlayersScores(); areModifiesDone = true" v-if="!areModifiesDone">Modify
                all scores</button>
            <button class="btn btn-outline-danger border-0 bg-danger text-white mr-2 my-2 p-1" type="button"
                @click="allModifiesDone(); areModifiesDone = false" v-else="areModifiesDone">Modifies
                done</button>
            <button class="btn btn-outline bg-color-lightblue border-0 text-white mr-2 my-2 p-1" type="button"
                @click="resetAllScores">Reset all scores</button>
            <button class="btn btn-outline-danger border-0 bg-danger text-white mr-2 my-2 p-1" type="button"
                @click="deleteAllPlayers()">Delete all
                players</button>
            <button class="btn btn-outline bg-color-purple border-0 text-white mr-2 my-2 p-1" type="button"
                @click="showMaximumScore = !showMaximumScore">Set
                maximum score</button>
            <input type="number" class="player-score my-2 col-2 col-sm-1 p-0" v-if="showMaximumScore"
                v-model="maximumScore" @keyup.enter="showMaximumScore = !showMaximumScore">

        </div>

        <!--^ PLAYERS LIST -->
        <div class="w-50">
            <ul class="list-group">
                <li class="player list-group-item bg-color-light-black d-flex row position-relative p-0"
                    v-for="(player, index) in players">
                    <div class=" col-12 mb-1 pr-0 p-3 ">
                        <span class="edit-player-name position-absolute"><i
                                class="fas fa-pencil-alt fa-flip-horizontal text-white"></i></span>
                        <input type="text" name="name" class="player-name text-white rounded col-10 col-md-6"
                            v-model="player.name">
                        <button
                            class="delete-player btn-close button-hover bg-danger border-0 p-1 px-2 position-absolute"
                            @click="deleteCurrentPlayer(player, index)"><i class="fas fa-times text-white"></i></button>
                    </div>
                    <div class="score align-self-end text-right text-white col-12 mt-0 mt-md-2 mt-md-4 p-3">
                        <span class="border border-white p-1" @click="toggleScoreModifier(index)"
                            v-if="!isModifing(index)">{{
                            player.score }}/{{ maximumScore }}</span>

                        <!--^ SCORE MODIFIER -->
                        <div class="bg-warning px-4 py-3 rounded position-relative d-flex justify-content-between"
                            v-else="isModifing(index)">
                            <div class="d-flex align-items-center row">
                                <input class="player-score mr-1 pr-0 col-4 col-sm-8 col-md-8" type="number"
                                    name="player-score" v-model="player.score">
                                <button class="btn btn-outline-secondary border-0 bg-danger text-white p-1 mr-1"
                                    @click="removePoints(index)"><i class="fas fa-minus"></i></button>
                                <button class="btn btn-outline-secondary border-0 bg-success text-white p-1"
                                    type="button" @click="addPoints(index)"><i class="fas fa-plus"></i></button>
                            </div>
                            <button
                                class="close-score-modifier btn-close button-hover bg-danger rounded border-0 p-1 px-2 position-absolute"
                                @click="toggleScoreModifier(index)"><i class="fas fa-times text-white"></i></button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script src="./script.js"></script>
</body>

</html>