/*= UTILITIES */
/*? GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*? COLORS */
.bg-color-purple{
    background-color: #454ade;
}

.bg-color-lightblue{
    background-color: #1089c9;
}

.bg-color-light-black{
    background-color: rgba(0,0,0,0.5);
}


/*? HIDE ARROWS ON INPUT TYPE NUMBER */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/*= BODY */
body{
    min-height: 100vh;
/*     background-image: url(https://wallpapercave.com/wp/wp4778440.jpg); */
    background-color: #a9a9a9;
    background-size: 120%;
    background-repeat: repeat;
}

/*? OPTIONS */
#options{
    margin: 0 auto;
}

/*? PLAYERS LIST */
li{
    list-style-type: none;
}

li.player{
    border: 3px solid black;
}

span.edit-player-name > i{
    margin-left: 5px;
}

.player-name{
    border: 1px solid #fff;
    padding-left: 30px;
    background-color: rgba(0,0,0,0);
    min-width: 30px;
}

.delete-player{
    border-radius: 0 0 0 4px;

    right:0;
    top: 0;
}

input.player-score{
    text-align: right;
    font-size: 20px;
} 

button.close-score-modifier{
    top: 0;
    right: 0;
}

/*= MEDIA QUERIES */

@media screen and (min-width: 992px) {
    
    body  {
        min-height: 100vh;
        background-image: url(https://wallpapercave.com/wp/wp4778440.jpg);
        background-color: none;
        background-size: 120%;
        background-repeat: repeat;
      }
}