/*= UTILITIES */
/*? GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*? HIDE ARROWS ON INPUT TYPE NUMBER */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/*= BODY */
/*? PLAYERS LIST */
li{
    list-style-type: none;
}

li.player{
    border: 1px solid black;
}

.player-name{
    border: 0px;
    background: #fff;
    padding-left: 25px;
}

.delete-player{
border-radius: 0 0 0 4px;

    right: -20px;
    top: -12px;
}

/* input.player-score{
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 1;
} */

button.close-score-modifier{
    top: 0;
    right: 0;
}